* {
  box-sizing: border-box;
  font-family: 'Gemunu Libre', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.player-1,
.player-2 {
  width: 35%;
  background: linear-gradient(lightblue, aquamarine, lightpink);
  text-align: center;
}
.game-board-container {
  width: 100%;
  background: linear-gradient(lightblue, aquamarine, lightpink);
}

.game-board {
  width: 100%;
  height: 75%;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

body {
  margin: 0px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.mando,
.baby-yoda {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width:  23%;
}

.player-image {
  width: 128px;
  border-radius: 12px;
}

.turn-and-winner-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
}

.winner-display {
  margin-left: 12px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 6px #777777;
}


.one,
.four {
  border-bottom: 5px solid #237058;
  border-left: 5px solid #237058;
  border-right: 5px solid #237058;
}

.zero, 
.two, 
.three,
.five {
  border-bottom: 5px solid #237058;
}

.seven {
  border-left: 5px solid #237058;
  border-right: 5px solid #237058;
}

.align-player-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}