* {
  box-sizing: border-box;
  font-family: 'Gemunu Libre', sans-serif;
}

html,
body {
  font-size: 20px;
  height: 100%;
  width: 100%;
}

.player-1,
.player-2 {
  background: linear-gradient(lightblue, #ec7fff, #003f80ba);
  font-size: 32px;
  text-align: center;
  width: 35%;
}

.player-1-number-of-wins,
.player-2-number-of-wins {
  margin-top: 3%;
}
.game-board-container {
  background: linear-gradient(lightblue, #ec7fff, #003f80ba);
  width: 100%;
}

.game-board {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 75%;
  width: 100%;
}

.disable-click:hover {
  cursor: not-allowed;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px;
  width: 100%;
}


.mando,
.baby-yoda {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width:  23%;
}

.player-image {
  border-radius: 12px;
  box-shadow: 6px 10px 21px #77779f;
  width: 128px;
}

.turn-and-winner-display {
  align-items: center;
  display: flex;
  font-size: 48px;
  justify-content: center;
}

.winner-display {
  margin: 0%;
  margin-left: 12px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 6px #777777;
}

.one,
.four {
  border-bottom: 5px solid #0000007a;
  border-left: 5px solid #0000007a;
  border-right: 5px solid #0000007a;
}

.zero, 
.two, 
.three,
.five {
  border-bottom: 5px solid #0000007a;
}

.seven {
  border-left: 5px solid #0000007a;
  border-right: 5px solid #0000007a;
}

.game-board-square {
  align-items: center;
  display: flex;
  height: 25vh;
  justify-content: center;
}

.mando {
  border: 5px solid #a842a9;
}

.baby-yoda {
  border: 5px solid mediumaquamarine;
}

.turn-text {
  padding-left: 5px;
}